############################
# Python
############################
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

############################
# Virtual Environment
############################
.venv/
venv/
env/
ENV/

############################
# Environment variables
############################
.env

############################
# IDE / Editor
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Logs / Cache
############################
*.log
.cache/
